<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Persons</title>
</head>

<body>
  <h1>Persons</h1>
  <ul>
    {% for person in persons %}
    <li>
      <a href="{% url 'persons_update' person.id %}">{{ person.first_name }}</a>
      <a href="{% url 'persons_delete' person.id %}">X</a>
    </li>
    {% endfor %}
  </ul>

  <a href="{% url 'persons_new' %}">Criar um novo Person</a>
</body>

</html>